<link
  rel="stylesheet"
  href="../../css/@fortawesome/fontawesome-free/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="../../css/@fortawesome/fontawesome-free/css/font-awesome.min.css"
/>
<!-- Start Header Area -->
<header class="header-area">
  <!-- main header start -->
  <div class="main-header d-none d-lg-block">
    <!-- header middle area start -->
    <div class="header-main-area sticky">
      <div class="container">
        <div class="row align-items-center position-relative">
          <!-- start logo area -->
          <div class="col-lg-3">
            <div class="logo">
              <a href="../../html/common/homepage.html">
                <img src="../../images/logo/logo.png" alt="" />
              </a>
            </div>
          </div>
          <!-- start logo area -->
          <!-- main menu area start -->
          <div class="col-lg-6 position-static">
            <div class="main-menu-area">
              <div class="main-menu">
                <!-- main menu navbar start -->
                <nav class="desktop-menu">
                  <ul>
                    <li class="active">
                      <a href="../../html/common/homepage.html"> Home </a>
                    </li>
                    <!-- Pages navigation commented out - feature not implemented yet
                    <li class="static">
                      <a href="#">pages </a>
                      <ul class="megamenu dropdown">
                        <li class="mega-title">
                          <a href="../../html/common/shop.html">Shop</a>
                        </li>
                        <li class="mega-title">
                          <a href="#">column 02</a>
                          <ul>
                            <li>
                              <a href="../../html/product-details.html"
                                >product details</a
                              >
                            </li>
                            <li>
                              <a
                                href="../../html/product-details-affiliate.html"
                                >product details affiliate</a
                              >
                            </li>
                            <li>
                              <a href="../../html/product-details-variable.html"
                                >product details variable</a
                              >
                            </li>
                            <li>
                              <a href="../../html/product-details-group.html"
                                >product details group</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li class="mega-title">
                          <a href="#">column 03</a>
                          <ul>
                            <li>
                              <a href="../../html/user/cart.html">cart</a>
                            </li>
                            <li>
                              <a href="../../html/checkout.html">checkout</a>
                            </li>
                            <li>
                              <a href="../../html/compare.html">compare</a>
                            </li>
                            <li>
                              <a href="../../html/wishlist.html">wishlist</a>
                            </li>
                          </ul>
                        </li>
                        <li class="mega-title">
                          <a href="#">column 04</a>
                          <ul>
                            <li>
                              <a href="../../html/user/my-account.html"
                                >my account</a
                              >
                            </li>
                            <li>
                              <a href="../../html/common/contact-us.html"
                                >contact us</a
                              >
                            </li>
                            <li><a href="../../html/faq.html">faq's</a></li>
                          </ul>
                        </li>
                        <li class="megamenu-banners d-none d-lg-block">
                          <a href="../../html/product-details.html">
                            <img
                              src="../../images/banner/img-bottom-menu.jpg"
                              alt=""
                            />
                          </a>
                        </li>
                      </ul>
                    </li>
                    -->
                    <li>
                      <a href="../../html/common/shop.html"> shop </a>
                    </li>
                    <!-- Blog navigation commented out - feature not implemented yet
                    <li>
                      <a href="../../html/blog/blog-list.html"> Blog </a>
                      <ul class="dropdown">
                        <li>
                          <a href="../../html/blog/blog-list.html">Blog List</a>
                        </li>
                        <li>
                          <a href="../../html/blog/blog-detail.html"
                            >Create Blog</a
                          >
                        </li>
                        <li>
                          <a href="../../html/blog-left-sidebar.html"
                            >blog left sidebar</a
                          >
                        </li>
                        <li>
                          <a href="../../html/blog-right-sidebar.html"
                            >blog right sidebar</a
                          >
                        </li>
                        <li>
                          <a href="../../html/blog-grid-full-width.html"
                            >blog grid no sidebar</a
                          >
                        </li>
                        <li>
                          <a href="../../html/blog-details.html"
                            >blog details</a
                          >
                        </li>
                        <li>
                          <a href="../../html/blog-details-left-sidebar.html"
                            >blog details left sidebar</a
                          >
                        </li>
                      </ul>
                    </li>
                    -->
                    <li id="admin-user-management" style="display: none">
                      <a href="../../html/admin/user-list.html">
                        User Management
                      </a>
                    </li>
                    <li id="admin-product-management" style="display: none">
                      <a href="../../html/product/page-list-product.html">
                        Product Management
                      </a>
                    </li>
                    <li>
                      <a href="../../html/common/contact-us.html">Contact us</a>
                    </li>
                  </ul>
                </nav>
                <!-- main menu navbar end -->
              </div>
            </div>
          </div>
          <!-- main menu area end -->
          <!-- mini cart area start -->
          <div class="col-lg-3">
            <div class="header-configure-wrapper">
              <div class="header-configure-area">
                <ul class="nav justify-content-end">
                  <!-- Search icon commented out - feature not implemented yet
                  <li>
                    <a href="#" class="offcanvas-btn">
                      <i class="lnr lnr-magnifier"></i>
                    </a>
                  </li>
                  -->
                  <!-- User Authentication Section -->
                  <li class="user-hover" id="user-menu">
                    <a href="javascript:void(0);">
                      <i class="lnr lnr-user"></i>
                    </a>
                    <ul class="dropdown-list" id="user-dropdown">
                      <!-- This will be populated by JavaScript based on auth state -->
                    </ul>
                  </li>
                  <!-- Wishlist icon commented out - feature not implemented yet
                  <li>
                    <a href="../../html/wishlist.html">
                      <i class="lnr lnr-heart"></i>
                      <div class="notification">0</div>
                    </a>
                  </li>
                  -->
                  <li>
                    <a href="../../html/user/cart.html" class="minicart-btn">
                      <i class="lnr lnr-cart"></i>
                      <div class="notification">0</div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- mini cart area end -->
        </div>
      </div>
    </div>
    <!-- header middle area end -->
  </div>
  <!-- main header start -->
  <!-- mobile header start -->
  <div class="mobile-header d-lg-none d-md-block sticky">
    <!--mobile header top start -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="mobile-main-header">
            <div class="mobile-logo">
              <a href="../../html/common/homepage.html">
                <img src="../../images/logo/logo.png" alt="Brand Logo" />
              </a>
            </div>
            <div class="mobile-menu-toggler">
              <div class="mini-cart-wrap">
                <a href="../../html/user/cart.html">
                  <i class="lnr lnr-cart"></i>
                </a>
              </div>
              <div class="mobile-menu-btn">
                <div class="off-canvas-btn">
                  <i class="lnr lnr-menu"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- mobile header top start -->
  </div>
  <!-- mobile header end -->
</header>
<!-- end Header Area -->
